.servicesContainer {
  width: 1180px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  row-gap: 20px;
  column-gap: 114px;
}
.ServicesHeading {
  text-align: center;
}
.ServicesHeading h1 {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  line-height: 60px;
  color: rgb(36, 52, 99);
  margin-top: 16px;
}
.ServicesHeading h1 span {
  color: rgb(100 21 255);
}
.cardMain {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  max-width: 320px;
  border-radius: 8px;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(100 21 255);
  padding: 40px 24px;
}
.iconContainer {
  box-sizing: border-box;
  border-width: 2px;
}
.iconContainer img {
  margin-bottom: 24px;
  height: 32px;
  width: 32px;
  padding: 24px;
  border: 2px solid;
  border-width: 2px solid;
  border-radius: 50%;
  border-color: rgb(100 21 255);
}
.cardTitle {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(100 21 255);
}
.cardMain p {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2;
  color: rgb(124 139 161);
}
.TwoCardsFlex {
  display: flex;
  flex-direction: column;
}

/* for tablet  */

@media (min-width: 376px) and (max-width: 912px) {
  .servicesContainer {
    width: 912px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
  }
  .cardMain {
    margin-left: 28px;
  }
}

/* Media query For mobile  */
@media (max-width: 375px) {
  .servicesContainer {
    width: 375px;
    display: flex;
    flex-direction: column;
    
  }
  .ServicesHeading h1 {
    font-size: 36px;
    letter-spacing: 0.9px;
  }
  .cardMain {
    max-width: 211px;
  }
}
/* Computer Screen  */

@media (min-width: 913px) {
}
